<!doctype html>
<html>
  <head>
  </head>
  <body>
    People Index
    <% people.forEach(function(person){ %>
          Firstname: <h2> <%= person.firstname %> </h2>
          Lastname: <h2> <%= person.lastname %> </h2>
          <p> this is person <%= person.id %> </p>
        <% }) %>
  </body>
</html>